#modal_terminos{
	    color: #7E7E7E;
}
#nosotros {
    text-align: center;
}
h1.dropcap {
  font-size: 28px;
  font-family: arial, verdana, sans-serif;
  line-height: 28px;
}
h1.dropcap span {
  font-size: 80px;
  font-weight: lighter;
  position: relative;
  float: left;
  line-height: 50px;
    color: #333333;
}
#dropcap p {
  font-size: 1em; 
  line-height: 1.4;
}
#cuerpo {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #E5F5E5; 
  font-size: large; 
}
#barra_nav {
    background-color: #ddd;
    font-style: italic;
    text-align: right;
    font-size: 12.5px;
        padding-right: 5px;

}
#primer_panel{
 /* top: 10px;*/
  width: 625px;
 /* top: 22px;
  width: 438px;*/
   /* height: 310px;
        left: 200px;*/
}
 #segundo_panel{
  /*top: 10px;*/
  /*top: 22px;
  width: 438px;*/
    /*height: 310px;
        left: 200px;*/

}  
#segundo_body{
      padding-top: 8px;
} 
   
#navBar{
  background-color: rgb(207, 239, 190);
}
#verdeAsein{
      background-color: #008000; 
          /*height: 350px;*/
}
#texto_header {
  font-family: proxima-nova-sc, "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.3;
    font-weight: lighter;
      color: white;
      font-size: large;
      text-align : justify;
      letter-spacing: 0;
/*text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;*/
}
#barraContacto {
  background-color: #008000;
      height: 36px;
      font-weight: bold;
}
#barraContacto ul a {
  color: white;
}
ul li a{
  color: #4A4A4A;
}
.text-primary {
    color: #007F00;
}
#primer_bloque{

    margin-top: 20px;

}
#bread {
    background-color: rgba(0, 128, 0, 0.29);
}